/***************************/
/* Hero Section */
/***************************/

.section-hero {
  background-color: #a2adb2;
  max-width: 130rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 90px;

  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #586b74;
  color: #fff;
  padding-bottom: 2rem;
}

.btn--full:active,
.btn--full:hover {
  background-color: #455a64;
  box-shadow: inset 0 0 0 3px #a2adb2;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #586b74;
  padding-bottom: 2rem;
}

.btn--outline:active,
.btn--outline:hover {
  background-color: #dadee0;
  box-shadow: inset 0 0 0 3px #a2adb2;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/***************************/
/* Video */
/***************************/
.video-title-container {
  text-align: center;
  padding-top: 2rem;
}

/***************************/
/* Info cards */
/***************************/

.info-cards-section {
  background-color: #a2adb2;
  padding-bottom: 5rem;
  max-width: 130rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
}

.feature-heading-container {
  text-align: center;
  padding: 3rem 0 4rem 0;
}

.feature-heading {
  font-size: 3.6rem;
  color: #333;
  font-weight: 700;
}

.feautre-icon {
  color: #fff;
  height: 3.2rem;
  width: 3.2rem;
  background: #7d8c93;
  margin-bottom: 2rem;
  padding: 1.4rem;
  border-radius: 50%;
}

.feautre-icon:hover {
  box-shadow: inset 0 0 0 3px #a2adb2;
}

.feautre-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
