/***************************/
/* Info Section */
/***************************/

.procon-grid {
  padding: 1rem 0 1rem 1rem;
}

.mm-img {
  width: 100%;
  border-radius: 40px;
}

.mm-list {
  list-style: square;
}

.mm-items {
  font-size: 1.7rem;
  line-height: 2rem;
}

.mm-step-list {
  list-style: none;
  line-height: 2rem;
}

.steps-tab {
  padding: 1rem 0 1rem 1rem;
}

/***************************/
/* Image */
/***************************/

.zoom {
  transition: transform 0.5s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/***************************/
/* Video */
/***************************/

.inpage-video {
  background-color: #eceff0;
}
