.footer {
  width: 100vw;
  padding: 1em;
  background-color: #333;
  color: #fff;
  text-align: initial !important;
}

.footer p {
  font-size: 22px;
}

@media (max-width: 970px) {
  .footer {
    padding: 0.5em !important;
  }
  .footer p {
    font-size: 20px !important;
  }
}

@media (max-width: 488px) {
  .footer p {
    margin: 0 !important;
  }
}
