.centering-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prob-btn {
  border: 1px outset black;
  background-color: lightBlue;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.prob-btn:hover {
  background-color: blue;
  color: white;
}
