.centering-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prob-btn {
  border: none;
  background-color: lightblue;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 0.5rem;
}

.probability-activity {
  list-style: none;
}

.prob-list {
  list-style: square;
  padding-left: 2rem;
}

.prob-items {
  font-size: 1.7rem;
  line-height: 2rem;
}
